/*FONT */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
:root {
    --dark: #01439C;
    --accent: #c2a489;
    --dark-grey: #161A1D;
    --grey: #d1e6f8;
    --nav-height: 60px;
    --side-nav-width: 100px;
}

body {
    margin: 0px;
    background-color: var(--dark);
    font-family: 'Quicksand', sans-serif;
    color: var(--grey);
}

a {
    text-decoration: none;
    color: white;
}